body {
  background-color: #f9f9f9;
}

h1 {
  font-size: 3.2rem;
  word-spacing: 1rem;
}

.fa-hand-rock {
  font-size: 2.4rem;
  margin-right: -26px;
  margin-left: -26px;
}

.fa-hand-paper {
  font-size: 2.4rem;
  margin-right: 4px;
  margin-left: -25px;
}

.fa-hand-scissors {
  font-size: 2.4rem;
  margin-left: -24px;
}

.form-control#inputName {
  width: 300px;
}

.btn.leave {
  margin-top: -20px;

  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.player1,
.result,
.player2 {
  position: relative;
  background-color: #fff;
  height: 14rem;
  border: 2px solid #c3c3c3;
  border-radius: 6px;
}

/* .resultIcon1,
.resultIcon2 {
  position: relative;
} */

.resultIcon1 .fa-hand-rock {
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 40%;
}

.resultIcon1 .fa-hand-paper {
  position: absolute;
  font-size: 3rem;
  top: 50%;
  left: 37%;
}

.resultIcon1 .fa-hand-scissors {
  position: absolute;
  font-size: 3rem;
  top: 50%;
  left: 37%;
}

.resultIcon2 .fa-hand-rock {
  font-size: 3rem;
  position: absolute;
  top: 50%;
  right: 40%;
}

.resultIcon2 .fa-hand-paper {
  font-size: 3rem;
  position: absolute;
  right: 33%;
  top: 50%;
}
.resultIcon2 .fa-hand-scissors {
  font-size: 3rem;
  position: absolute;
  right: 33%;
  top: 50%;
}

.chatBox {
  background-color: #fff;
  height: 10rem;
  border: 2px solid #c3c3c3;
  border-radius: 6px;
  overflow: hidden;
}

p.message {
  margin-top: 1px;
  margin-bottom: 0;
  margin-left: 5px;
}

.form-control.chat {
  display: inline-block;
  width: 290px;
}

.btn.join {
  position: relative;
  bottom: 0.5rem;
}

.btn.chat {
  position: relative;
  bottom: 2px;
}

i.game1,
i.game2 {
  font-size: 3rem;
  position: absolute;
  cursor: pointer;
}

i.game1:hover,
i.game2:hover {
  color: green;
}

.active {
  color: green;
}

i.game1.fa-hand-rock {
  right: 3rem;
}
i.game1.fa-hand-paper {
  right: 1.1rem;
  top: 5.5rem;
}
i.game1.fa-hand-scissors {
  right: 1.1rem;
  top: 9.3rem;
}

i.game2.fa-hand-rock {
  left: 2.8rem;
}
i.game2.fa-hand-paper {
  left: 3rem;
  top: 5.5rem;
}
i.game2.fa-hand-scissors {
  left: 2.7rem;
  top: 9.1rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .form-control.chat {
    width: 440px;
  }
  .btn.join,
  .btn.chat {
    position: static;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .chatBox {
    width: 570px;
  }
  .form-control.chat {
    width: 500px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
